.imageContainer img{
    object-fit: cover;
}
.title h1{
    font-weight: bolder;
    font-size: 32px;
}
.search-field-wrapper{
    display: none !important;
}
.formbox{
    align-self: center;
}
.warning{
    color: red;
    font-size: 12px;
}
.grecaptcha-badge {
    z-index: 99999 !important;
}
.siteforceThemeLayoutStarter {
    z-index: -1 !important;
}